{% extends 'base.html' %}

{% block title %} Moje Trackery {% endblock %}

{% block content %}
    <div class="list">
        <h1>Moje trackery</h1>
        {% for tracker in object_list %}
            <div class="tracker_info">
                <a href="{% url 'trakcer:tracker_detail' tracker.id %}"><h3>{{ tracker.keywords }}</h3></a>
                
                <div class="tracker_offer_list">
                    <b></b><a href=" {% url 'offer:offer_list' tracker.id %}">Zobacz listę ogłoszeń</a></b>
                </div>
                <div class="tracker_offer_list">
                    <a href=" {% url 'tracker:delete' tracker.id %}">Usuń</a>
                </div>
            </div>
        {% empty %}
            <p>
                Nie utworzyłeś jeszcze żadnego trackera.
            </p>
        {% endfor %}
    </div>
{% endblock %}