{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
    </head>
    <body>
        <div id="header">
            <a href="/" class="logo">JobTracker</a>
            <ul class="menu">
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Wyloguj</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Zaloguj</a></li>
                {% endif %}
            </ul>
        </div>
        {% if request.user.is_authenticated %}
                <div class="sidenav">
                    <a href="{% url 'dashboard' %}" class="nav_item"><div>Trackery</div></a>
                    <a href="{% url 'edit' %}" class="nav_item"><div>Edytuj profil</div></a>
                    <a href="{% url 'tracker:create' %}" class="nav_item"><div>Dodaj tracker</div></a>
                </div>
        {% endif %}
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <script>
            $(document).ready(function(){
                {% block domready %}
                {% endblock %}
            });
        </script>
    </body>
</html>